body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('bgkk.gif') no-repeat center ;
    top: 0;
    background-size: 300px;
    height: 140vh;
    animation: fadeIn 2s;
    background-color: antiquewhite;
}

.container {
    text-align: center;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 30px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#selectedOption {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .options {
        flex-direction: column;
    }
}

/* Add these styles for the pop-up card */
.pop-up-card {
    display: none;
    opacity: 0;
    /* other styles... */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    z-index: 1;
    transition: opacity 0.9s ease-in-out;
}

.pop-up-content {
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.pop-up-animation {
    opacity: 1;
}
